@mixin center-only-y {
  display: flex;
  align-items: center;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card {
  background: rgba(45, 45, 45, 0.42);
  border-radius: 15px;
  height: 100%;
  padding: 15px;
  width: 100%;
  @include center-only-y;

  .image-card {
    background: rgba(44, 44, 44, 0.22);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    @include center;
  }
}
