.dropdown {
  background: rgb(30, 30, 30);
  position: relative;
  top: -15px;
  border-radius: 25px;
  height: 100%;
  width: calc(100% + 20px);
}

.name-user {
  color: #9a9a9a;
}
.menu-item {
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  transition: 0.2s;
  font-size: 14.5px;

  &:hover {
    cursor: pointer;
    background: #383838;
  }
}