.realese {
  font-size: 17px;
  font-weight: 500;
}

.add-track {
  background: #bb0a39;
  padding: 10px;
  border-radius: 15px;
  transition: 0.2s;

  &:hover {
    background: #9b0606;
  }

}

.upload-image-btn {
  content: "qweqw";
  width: 100%;
  margin-top: 15px;
  background: none;
  border: 1px solid #bb0a39;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 15px;

  &:hover {
    outline: 1px solid #310000;
  }
}