.sidebar {
  background: #090909;
  height: 100vh;
}

.link-sidebar {
  color: #9a9a9a;
  font-size: 15px;
  font-weight: 600;
}

.active {
  color: aliceblue;
  fill: aliceblue;
  font-weight: bold;
}

.link-sidebar:hover {

  .text-link {
    color: aliceblue;
  }

  .sidebar-svg {
    fill: aliceblue;
  }
}

.text-link, .sidebar-svg {
  transition: 0.4s;
}

.avatar {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.me {
  height: calc(100% - 200px);
  display: flex;
  align-items: flex-end;
}

.btn-auth {
  background: #d7034d;
  transition: 0.4s;
  padding: 13px;
  border-radius: 12px;
  font-size: 15px;

  &:hover {
    background: #fc0e70;
  }
}

.author-block {
  background-color: #FF3CAC;
  background-image: linear-gradient(270deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

  border-radius: 55px;
  font-size: 12px;
  padding: 5px 15px;
}

.user-data-block {
  height: 55px;
  display: flex;
  align-items: center;
}