$gray-color: #9a9a9a;

.track-card {
  border-radius: 10px;
  padding: 10px 10px;
  transition: 0.2s;
  width: 100%;


  &:hover {
    background: #1c1c1c;
    cursor: pointer;

    img {
      filter: brightness(50%);
      transition: 0.3s;
    }

    .play-btn-container {
      opacity: 1;
    }
  }

  .play-btn-container {
    display: flex;
    opacity: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    justify-content: center;
    transition: 0.3s;

    svg {
      height: 30px;
      width: 30px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .image-container {
    position: relative;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 7px;
  }

  .author {
    color: $gray-color;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      color: white;
    }

  }

  .title {
    font-size: 15px;
    font-weight: 500;
  }

  .time {
    color: $gray-color;
    font-weight: bold;
  }

  .icon-class {
    fill: $gray-color;
    transition: 0.2s;

    &:hover {
      fill: white;
    }

  }
}

.controls-track {
  .fill-heart {
    svg {
      fill: #c41e50;
    }
  }
}