$gray-color: #9a9a9a;

.track-card {
  border-radius: 10px;
  padding: 10px 10px;
  transition: 0.4s;
  width: 100%;

  &:hover {
    background: #1c1c1c;
    cursor: pointer;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 7px;
  }

  .author {
    color: $gray-color;
    font-weight: 600;
    transition: 0.4s;

    &:hover {
      color: white;
    }

  }

  .title {
    font-size: 15px;
    font-weight: 500;
  }

  .time {
    color: $gray-color;
    font-weight: bold;
  }

  .icon-class {
    fill: $gray-color;
    transition: 0.4s;

    &:hover {
      fill: white;
    }

  }

}