.genre-card {
  background: #008ec0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border-radius: 15px;
  font-size: 17 px;
  font-weight: 500;

  svg {
    height: 35px;
  }

  &:hover {
    cursor: pointer;

    .genre-card-wrapper {
      transform: scale(1.1);
    }
  }

  .genre-card-wrapper {
    transition: 0.4s;
  }
}