.playlist-image, .playlist-container {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  transition: 0.2s;
}

.playlist-container {
  background: #252525;

  &:hover {
    cursor: pointer;
    background: #313131;
  }
}

.playlist-image:hover {
  cursor: pointer;
  filter: brightness(50%);
}
