.playlist-image, .playlist-container, .empty-image {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  transition: 0.2s;
}

.playlist-container, .empty-image {
  background: #252525;
  color: #646464;

  &:hover {
    cursor: pointer;
    background: #313131;
  }
}

.playlist-image:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.title-playlist {
  font-size: 14px;
}


.empty-image {
  svg {
    height: 60px;
    width: 60px;
    fill: #646464;
  }
}