/*
  Привет! Если ты это читаешь, ты знай, на этот говно-код, ушло около 4+ часов.
  ( 1 БЛОК СУКА )
  Чуть позже здесь будут миксины, функции, переменных и т.п, пока что без рефакторинга,
  ибо это еще НЕ ВСЕ...

  это больно. я хочу кодить бекенд

  плюсом к тому, это статический блок.
  а ему нужно будет изменять стили, в зависимости от того, какого настроения играет музыка.

  tilted
*/

@keyframes animationCircle {
  0% {
    background-color: rgba(169, 14, 167, 0.82);
    background-position: 15px 0;
    box-shadow: 15px 105px 52px rgba(199, 6, 65, 0.8);
    border-radius: 90%;
    outline: 105px solid rgb(255, 0, 0);
  }

  25% {
    background-color: rgb(248, 193, 57);
    background-position: 15px 0;
    border-radius: 100%;
    box-shadow: -45px -100px 15px rgba(21, 199, 75, 0.82);
    outline: 85px solid rgb(0, 255, 60);
  }

  50% {
    background-color: rgba(33, 176, 190, 0.89);
    background-position: 15px 0;
    border-radius: 34%;
    box-shadow: -50px 105px 32px rgba(23, 19, 185, 0.86);
    outline: 35px solid rgb(255, 255, 255);
  }

  75% {
    background-color: rgb(248, 193, 57);
    background-position: 15px 0;
    border-radius: 100%;
    box-shadow: 45px 70px 15px rgba(21, 199, 75, 0.82);
    outline: 15px solid rgb(0, 255, 60);
  }

  100% {
    background-color: rgba(169, 14, 167, 0.82);
    background-position: 15px 0;
    box-shadow: 15px 105px 52px rgba(199, 6, 65, 0.8);
    border-radius: 90%;
    outline: 55px solid rgb(255, 0, 0);
  }
}

@keyframes two {

  0% {
    outline: 55px solid rgba(153, 7, 189, 0.51);
    background: rgb(255, 68, 68);
    transform: translate(-230px, -180px);
  }

  25% {
    outline: 95px solid rgba(153, 7, 189, 0.51);
    background: rgb(47, 16, 255);
    transform: translate(-200px, 150px);
  }

  50% {
    outline: 15px solid rgba(153, 7, 189, 0.42);
    background: rgb(25, 255, 178);
    transform: translate(-230px, 170px);
  }

  75% {
    outline: 45px solid rgba(153, 7, 189, 0.51);
    background: rgb(47, 16, 255);
    transform: translate(-200px, 190px);
  }

  100% {
    outline: 15px solid rgba(153, 7, 189, 0.51);
    background: rgb(255, 68, 68);
    transform: translate(-230px, -190px);
  }
}

@keyframes three {
  0% {
    outline: 155px solid rgba(255, 0, 0, 0.43);
    background: rgb(4, 205, 255);
    transform: translate(200px, 200px);
  }

  25% {
    outline: 98px solid rgba(161, 0, 255, 0.55);
    background: rgb(255, 115, 0);
    transform: translate(230px, -90px);
  }

  50% {
    outline: 54px solid rgba(11, 227, 222, 0.49);
    background: rgb(25, 255, 178);
    transform: translate(190px, -100px);
  }

  75% {
    outline: 14px solid rgba(161, 0, 255, 0.55);
    background: rgb(255, 115, 0);
    transform: translate(230px, -90px);
  }
  100% {
    outline: 91px solid rgba(255, 0, 0, 0.43);
    background: rgb(4, 205, 255);
    transform: translate(200px, 200px);
  }

}

@keyframes four {
  0% {
    outline: 205px solid rgba(255, 0, 0, 0.43);
    background: rgb(4, 205, 255);
    transform: translate(100px, -180px);
  }

  25% {
    outline: 155px solid rgba(161, 0, 255, 0.55);
    background: rgb(255, 115, 0);
    transform: translate(-130px, -150px);
  }

  50% {
    outline: 35px solid rgba(255, 239, 68, 0.49);
    background: rgb(25, 255, 178);
    transform: translate(-150px, -120px);
  }

  75% {
    outline: 155px solid rgba(161, 0, 255, 0.55);
    background: rgb(255, 115, 0);
    transform: translate(-130px, -150px);
  }
  100% {
    outline: 5px solid rgba(255, 0, 0, 0.43);
    background: rgb(4, 205, 255);
    transform: translate(100px, -180px);
  }

}

@keyframes five {
  0% {
    outline: 14px solid rgba(153, 7, 189, 0.51);
    background: rgb(255, 68, 68);
    transform: translate(-100px, 270px);
  }

  25% {
    outline: 85px solid rgba(153, 7, 189, 0.51);
    background: rgb(47, 16, 255);
    transform: translate(190px, 230px);
  }

  50% {
    outline: 92px solid rgba(153, 7, 189, 0.42);
    background: rgb(25, 255, 178);
    transform: translate(200px, 300px);
  }

  75% {
    outline: 14px solid rgba(153, 7, 189, 0.51);
    background: rgb(47, 16, 255);
    transform: translate(190px, 230px);
  }
  100% {
    outline: 156px solid rgba(153, 7, 189, 0.51);
    background: rgb(255, 68, 68);
    transform: translate(-100px, 240px);
  }

}


.c-2 {
  animation: 20s infinite linear reverse two;
}

.c-3 {
  animation: 20s infinite linear three;
}

.c-4 {
  position: relative;
  animation: 20s infinite linear four;
}

.c-5 {
  animation: 20s infinite linear five;
}

.c-2,
.c-3,
.c-4,
.c-5,
.c-6 {
  box-shadow: 0px 0px 552px rgba(255, 0, 78, 0.8);
  height: 520px;
  width: 800px;
  position: absolute;
  background-color: black;
  clip-path: polygon(50% 0%, 61% 25%, 98% 25%, 68% 40%, 79% 72%, 50% 55%, 21% 72%, 32% 40%, 2% 25%, 39% 25%
  );
}

.circle {
  height: 490px;
  width: 550px;
  filter: blur(3rem);
  background: rgb(179, 179, 179);
  background: linear-gradient(90deg, rgb(78, 128, 243) 0%, rgb(255, 34, 34) 100%);
  margin-top: 200px;
  animation: 32s infinite linear animationCircle;

}

.wave-button {
  margin: 0;
  padding: 0;
}

.title-wave {
  width: 20%;
  top: -450px;
  right: -650px;
  position: relative;
  font-weight: bold;
  font-size: 25px;
  height: 50px;
}

.wave-button {
  cursor: pointer;

  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.circle-container {
  height: 100%;
}

